$website-width: 1280px;
$dark-gray: #393b3f;
$sky-blue: #7792c5;
$light-green: #249e34;
$dark-green: #1c802a;
$gold: #ffb046;
$login-width: 20vw;
$login-height: 35vh;
$background-img: url("../img/Creative/Shader_Test/2019-05-12_20.31.12.png");
$wiz-tower-img: url("../img/Stovetop/Wizard's_Tower/2019-12-14_11.20.58.png");
$wiz-table-img: url("../img/Stovetop/Wizard's_Tower/2019-12-14_11.22.26.png");
$wiz-night-img: url("../img/Stovetop/Wizard's_Tower/2019-12-14_11.25.14.png");
$monastary-building-img: url("../img/Stovetop/Monastary/2019-12-14_11.37.18.png");
$monastary-tower-img: url("../img/Stovetop/Monastary/2019-12-14_11.40.31.png");
$modern-house-img: url("../img/Stovetop/Modern_House/2019-12-14_11.10.13.png");
$lake-town-img: url("../img/Stovetop/Lake_Town/2019-12-14_10.55.36.png");
$challenge-img: url("../img/Stovetop/Grant's_Challenge/2019-12-14_12.21.47.png");
$farm-porch-img: url("../img/Stovetop/Farmhouse/2019-12-14_12.19.01.png");
$farm-fields-img: url("../img/Stovetop/Farmhouse/2019-12-14_11.08.10.png");
$creeper-shrine-img: url("../img/Stovetop/Creeper_Shrine/2019-12-14_12.21.33.png");
$dome-above-img: url("../img/Stovetop/The_Dome/2019-12-14_10.57.26.png");
$dome-fire-img: url("../img/Stovetop/The_Dome/2019-12-14_10.57.17.png");
// $dome-stairs-img: url("../img/Stovetop/The_Dome/2019-12-14_10.57.11.png");
$dome-img: url("../img/Stovetop/The_Dome/2019-12-14_10.57.05.png");
$tavern-img: url("../img/Stovetop/Tavern/2019-12-14_11.46.42.png");
$tavern-light-img: url("../img/Stovetop/Tavern/2019-12-14_11.48.05.png");
// $tavern-inside-img: url("../img/Stovetop/Tavern/2019-12-14_11.48.10.png");
$creative-hotel-img: url("../img/Creative/Hotel/2019-11-30_13.36.23.png");
$pyramid-guard-img: url("../img/Creative/Pyramid/2020-02-13_01.08.41.png");
$pyramid-center-img: url("../img/Creative/Pyramid/2020-02-13_01.08.50.png");
$pyramid-statues-img: url("../img/Creative/Pyramid/2020-02-13_01.08.55.png");
// $shader-img: url("../img/Creative/Shader_Test/2019-05-12_20.30.47.png");
$dwarf-campfire-img: url("../img/Countertop/Abandoned_Dwarf_Kingdom/City/2020-05-16_20.37.24.png");
$beach-tower-img: url("../img/Countertop/Beach_Tower/Cove_City/2020-05-16_20.03.11.png");
$beach-tower-close-img: url("../img/Countertop/Beach_Tower/Cove_City/2020-05-16_20.03.23.png");
$cove-city-img: url("../img/Countertop/Beach_Tower/Cove_City/2020-05-16_20.03.48.png");
$cove-church-img: url("../img/Countertop/Beach_Tower/Cove_City/2020-05-16_20.04.02.png");
$path-coast-img: url("../img/Countertop/Beach_Tower/Path_To_Coast/2020-05-16_20.04.49.png");
$path-coast-bridge-img: url("../img/Countertop/Beach_Tower/Path_To_Coast/2020-05-16_20.04.39.png");
$path-coast-ground-img: url("../img/Countertop/Beach_Tower/Path_To_Coast/2020-05-16_20.06.32.png");
$bowl-house-img: url("../img/Countertop/CknSoup's_Beach_Getaway/Exterior/2020-05-16_20.22.00.png");
$bowl-house-front-img: url("../img/Countertop/CknSoup's_Beach_Getaway/Exterior/2020-05-16_20.22.09.png");
$bowl-house-under-img: url("../img/Countertop/CknSoup's_Beach_Getaway/Exterior/2020-05-16_20.22.21.png");
$bowl-house-room-img: url("../img/Countertop/CknSoup's_Beach_Getaway/Interior/2020-05-16_20.22.28.png");
$bowl-house-hall-img: url("../img/Countertop/CknSoup's_Beach_Getaway/Interior/2020-05-16_20.22.32.png");
$bowl-house-hall-end-img: url("../img/Countertop/CknSoup's_Beach_Getaway/Interior/2020-05-16_20.22.33.png");
$bowl-house-sun-room-img: url("../img/Countertop/CknSoup's_Beach_Getaway/Interior/2020-05-16_20.23.28.png");
$keep-img: url("../img/Countertop/CknSoup's_Keep/Exterior/2020-05-16_20.15.56.png");
$keep-corner-img: url("../img/Countertop/CknSoup's_Keep/Exterior/2020-05-16_20.16.18.png");
$mansion-bridge-img: url("../img/Countertop/CknSoup's_Mansion/Exterior/Bridge & Sorting System/2020-05-16_20.20.43.png");
$mansion-sorter-img: url("../img/Countertop/CknSoup's_Mansion/Exterior/Bridge & Sorting System/2020-05-16_20.30.27.png");
$mansion-img: url("../img/Countertop/CknSoup's_Mansion/Exterior/Mansion/2020-05-16_20.28.57.png");
$mansion-corner-img: url("../img/Countertop/CknSoup's_Mansion/Exterior/Mansion/2020-05-16_20.30.15.png");
$keep-house-inside-img: url("../img/Countertop/CknSoup's_Summer_Retreat/Interior/2020-05-16_20.17.55.png");
$desert-homestead-house-img: url("../img/Countertop/Desert_Homestead/Exterior/2019-06-16_17.16.13.png");
$desert-homestead-house2-img: url("../img/Countertop/Desert_Homestead/Exterior/2020-05-16_19.33.08.png");
$desert-homestead-img: url("../img/Countertop/Desert_Homestead/Exterior/2020-05-16_19.33.56.png");
$desert-homestead-house3-img: url("../img/Countertop/Desert_Homestead/Exterior/2020-05-16_19.35.04.png");
$forest-cabin-img: url("../img/Countertop/Forest_Cabin/Exterior/2020-05-16_20.20.24.png");
$hobbit-img: url("../img/Countertop/Hobbit_Hole/Exterior/2020-05-16_19.35.56.png");
// $shared-area-img: url("../img/Countertop/Jungle_Town/Arwen_&_WOTR's_Shared_Area/2020-05-16_20.55.50.png");
$shared-area-img: url("../img/Countertop/Jungle_Town/Arwen_&_WOTR's_Shared_Area/2020-05-16_20.55.55.png");
$alt-img: url("../img/Countertop/The_Capital/Arwen's_Farm/SKOL/2020-05-16_19.52.59.png");
