@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease, color 0.5s ease;
}

body {
  background-color: #f4f4f4;
}

.header {
  height: 100vh;

  .header-overlay {
    background: #393b3f;
    height: 50px;
    opacity: 0.8;
    overflow: hidden;
    border-bottom: #fff solid 1px;
  }
}

#header {
  &-main {
    height: 100vh;
    line-height: 1.6rem;
    font-family: "Noto Sans", sans-serif;
    background: $tavern-light-img repeat top center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    #nav-title-img {
      height: 120px;
      margin-top: 10%;
    }

    #view-site-btn {
      height: 75px;
      width: 150px;
      background: $light-green;
      color: white;
      padding: 0.4rem;
      margin-bottom: 50vh;
      font-size: 1rem;
      line-height: 1.6rem;
      font-weight: bold;
      border-radius: 5px;
      &:hover {
        background: #f4f4f4;
        color: #333;
      }
    }
  }

  &-downloads {
    height: 80px;
  }
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: $login-width;
  height: $login-height;
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 40%;
  border-radius: 5%;
  border: #333 solid 1px;

  #login-title {
    margin-top: 0.75rem;
    line-height: 4rem;
  }

  .form-control {
    margin-bottom: 2.5rem;
    width: 70%;
    height: 10%;
  }

  #username {
    width: 100%;
    height: 100%;
    line-height: 3rem;
    background-color: inherit;
  }

  #password {
    width: 100%;
    height: 100%;
    line-height: 3rem;
  }

  #login-btn {
    margin-bottom: 1rem;
    width: 70%;
  }

  p {
    text-align: center;
  }
}

#world-downloads {
  &-section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }
  &-img {
    align-self: center;
    height: 50px;
  }

  &-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 0px;

    .world-downloads-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;

      .world-downloads-overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 144px;
        height: 144px;
        border-radius: 50%;
        background-color: #000000;
        color: white;
        font-weight: bold;
      }

      i {
        color: #fff;
        padding: 2rem;
        width: 80px;
        height: 80px;
        text-align: center;
        position: relative;
        border-radius: 50%;
        transition: background 0.25s, color 0.25s, opacity 0.25s;
        margin-bottom: 10px;

        &:hover {
          color: black;
          opacity: 25%;
        }
      }

      &:nth-child(3n + 0) {
        i {
          background-color: #133;

          &:hover {
            background-color: $gold;
          }
        }
      }

      &:nth-child(3n + 1) {
        i {
          background-color: #1aa;

          &:hover {
            background-color: $gold;
          }
        }
      }

      &:nth-child(3n + 2) {
        i {
          background-color: #177;

          &:hover {
            background-color: $gold;
          }
        }
      }
    }

    .see-other-downloads {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 30px;
      a:hover {
        color: coral;
      }
    }
  }
}

#about-kitchen {
  width: 100%;
  height: 300px;
  background-color: $dark-green;
  background-image: url("../img/creeper-pattern.png");

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .separation-line {
      z-index: 1;
    }
  }

  .about-overlay {
    opacity: 85%;
    position: absolute;
    background-color: $dark-green;
    z-index: 0;
    height: 300px;
    width: 100vw;
  }

  &-img {
    margin-top: 30px;
    align-self: center;
    height: 50px;
    z-index: 1;
  }

  &-text {
    color: white;
    z-index: 1;
  }
}

#library-section {
  margin-top: 30px;
  position: relative;
}

.library-overlay {
  position: absolute;
  background-color: #333;
  border-bottom: solid 4px black;
  border-top: solid 4px black;
  height: 75vh;
  width: 100%;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  &-label {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #fff;
  }
}

#library-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;

  .library-cover {
    height: 75vh;
    border-top: solid 4px black;
    border-bottom: solid 4px black;

    &:first-child {
      border-right: solid 2px black;
      border-left: solid 4px black;
    }

    &:nth-child(3n + 2) {
      border-right: solid 2px black;
      border-left: solid 2px black;
    }

    &:nth-child(3n + 0) {
      border-right: solid 4px black;
      border-left: solid 2px black;
    }

    #library-stovetop-cover {
      background: $creeper-shrine-img no-repeat center center/cover;
      height: 75vh;
      transition: opacity 0.5s;

      &:hover {
        opacity: 25%;
      }
    }

    #library-countertop-cover {
      background: $hobbit-img no-repeat center top/cover;
      height: 75vh;
      transition: opacity 0.5s;

      &:hover {
        opacity: 25%;
      }
    }

    #library-pantry-cover {
      background: url("../img/pandas.png") no-repeat center center/cover;
      height: 75vh;
      transition: opacity 0.5s;

      &:hover {
        opacity: 25%;
      }
    }
  }
}
